@{
    ViewData["Title"] = "Forgot Password Confirmation";
}
<div class="items-center justify-center flex font-bold">
    <div class="text-green-500 p-4 sm:p-16 rounded-xl shadow-2xl">
        <h2 class="text-3xl text-left font-extrabold mb-3">Please check your email. We've sent instructions on how to reset your password!</h2>
    </div>
</div>
