@{
    ViewData["Title"] = "We've sent the confirmation email again";
}

<div class="items-center justify-center flex font-bold">
    <div class="text-green-500 p-4 sm:p-16 rounded-xl shadow-2xl">
        <h2 class="text-3xl text-left font-extrabold mb-3">Please check your email. All done from our end!</h2>
    </div>
</div>