@model ResendConfirmationEmailViewModel
@{
    ViewData["Title"] = "Resend Confirmation Email";
}

<div class="items-center justify-center flex font-bold">
    <div class="text-green-500 p-4 sm:p-16 rounded-xl shadow-2xl">
        <h2 class="text-3xl text-left font-extrabold mb-3">@ViewData["Title"]. Don't spam us yo :D</h2>

        <form asp-controller="Account" asp-action="ResendConfirmationEmail" method="post" class="form-horizontal" role="form">
            <div class="text-left mb-3">
                <label class="text-xl block mb-3 font-bold" asp-for="Email"></label>
                <input class="w-full bg-gray-800 border-2 border-green-500 p-3 rounded outline-none focus:border-purple-500" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <button class="block w-full bg-green-700 hover:bg-green-600 p-4 rounded text-gray-700 transition duration-300" type="submit">
                    <span>
                        <p class="font-bold">Submit</p>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>>

@section Scripts {
 @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
