@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="items-center justify-center flex font-bold">
    <div class="text-green-500 p-4 sm:p-16 rounded-xl shadow-2xl">
        <h2 class="text-3xl md:text-4xl lg:text-5xl font-extrabold mb-3">@ViewData["Title"]</h2>
        <form class="space-y-5 mb-4" asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal" role="form">
            <input asp-for="Code" type="hidden" />
            <div class="text-left">
                <label asp-for="Email" class="text-xl block mb-3 font-bold"></label>
                <input asp-for="Email" class="w-full bg-gray-800 border-2 border-green-500 p-3 rounded outline-none focus:border-purple-500" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="text-left">
                <label asp-for="Password" class="text-xl block mb-3 font-bold"></label>
                <input asp-for="Password" class="w-full bg-gray-800 border-2 border-green-500 p-3 rounded outline-none focus:border-purple-500" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="text-left">
                <label asp-for="ConfirmPassword" class="text-xl block mb-3 font-bold"></label>
                <input asp-for="ConfirmPassword" class="w-full bg-gray-800 border-2 border-green-500 p-3 rounded outline-none focus:border-purple-500" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div>
                <button class="block w-full bg-green-700 hover:bg-green-600 p-4 rounded text-gray-700 transition duration-300" type="submit">
                    <span>
                        <p class="font-bold">Reset</p>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
