<div class="justify-between py-10 px-10 font-bold pt-48" id="features">
    <h2 class="text-3xl md:text-4xl lg:text-5xl font-extrabold mb-2">Oh oh.</h2>
    <p class="text-2xl md:text-3xl lg:text-4xl  pr-4 pl-4 mb-6 text-left xl:text-center pt-2">
        We are unable to create an invoice right now! Sorry but please do try again later ❤️ The owner is a dumb dude 🥺
    </p>
</div>
