<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dingle Valley | Find Public Discord Servers And Much More!</title>
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dinglevalley.net/">
    <meta property="og:site_name" content="Dingle Valley">
    <meta property="og:keywords" content="Dingle valley,Self promotion,Promote discord,Promote youtube,Promote discord servers,
    Self promotion software,Self-promotion,promote online,Promote twitch,Discord servers, Find discord servers, Fun discord,
    Currency discord, Dank memer, Discord Bots, Disboard, Top.gg">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="">
    <meta property="twitter:site:id" content="">
    <meta property="twitter:creator" content="">
    <meta property="twitter:creator:id" content="">
    <meta property="og:locale" content="en-US">
    <link rel="icon" href="~/favicon.ico">
    <meta data-react-helmet="true" charset="utf-8">
    <meta data-react-helmet="true" property="og:title" content="Dingle Valley | Find Public Discord Servers And Much More!">
    <meta data-react-helmet="true" property="og:description" content="Dingle valley is the easiest way to get more users to, join your discord servers, subscribe to your twitch or youtube channels, join your game servers and more.">
    <meta data-react-helmet="true" name="description" content="Dingle valley is the easiest way to get more users to, join your discord servers, subscribe to your twitch or youtube channels, join your game servers and more.">
    <meta data-react-helmet="true" property="og:image" content="~/imgs/panda.png">
    <meta data-react-helmet="true" property="twitter:image" content="~/imgs/panda.png">
    <link rel="stylesheet" href="~/css/app.css" />
</head>

<body class="text-gray-900 font-sans bg-gradient-to-r from-pink-700 via-blue-900 to-green-700 animate-gradient-x">
    <div class="relative min-h-screen flex text-center mb-2">

        <!-- stripes -->
        <div class="absolute inset-0 pointer-events-none mt-3">
            <img class="mx-auto h-16 md:h-24 lg:h-28 xl:h-32 2xl:h-40" src="~/imgs/panda.png" />
            @*<div class="grid grid-cols-6 grid-rows h-full w-full transform -skew-y-12 opacity-50">
                <div class="bg-purple-700 rounded-xl"></div>
                <div class="bg-blue-700 rounded-xl"></div>
                <div class="bg-purple-800 col-start-4 col-span-2 rounded-xl"></div>
                <div class="bg-gradient-to-br row-start-3 row-span-2 col-start-6 rounded-xl"></div>
                <div class="bg-gradient-to-br row-start-4 col-start-2 col-span-2 rounded-xl"></div>
                <div class="bg-gradient-to-br row-start-6 col-start-5 col-span-2 rounded-xl"></div>
                <div class="bg-gradient-to-br row-start-6 col-span-2 rounded-xl"></div>
            </div>*@
        </div>

        <!-- content -->
        <div class="relative">
            @RenderBody()
        </div>
    </div>
    <!-- footer -->
    <div class="bottom-0 inset-x-0">
        <img class="mx-auto h-16 md:h-24 lg:h-28 xl:h-32 2xl:h-40" src="~/imgs/panda.png" />
        <a class="no-underline text-yellow-400 hover:text-yellow-300" href="https://auth.dinglevalley.net/home/privacy">
            <p class="text-center mt-5 ml-2 font-extrabold">Privacy Policy</p>
        </a>
        <p class="text-center text-yellow-400 mt-5 mb-5 ml-2 font-extrabold">&copy; @DateTime.Now.Year, Dingle Inc.</p>
    </div>

</body>
</html>
