@using Microsoft.AspNetCore.Components.Web
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="~/css/app.css" rel="stylesheet" />
    <link href="DingleValleyRebooted.Client.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="WebAssemblyPrerendered" />
    <title>Dingle Valley | Find Random Discord Servers And Much More!</title>
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dinglevalley.net/">
    <meta property="og:site_name" content="Dingle Valley">
    <meta property="og:keywords" content="Dingle valley,Self promotion,Promote discord,Promote youtube,Promote discord servers,
    Self promotion software,Self-promotion,promote online,Promote twitch,Discord servers, Find discord servers, Fun discord,
    Currency discord, Dank memer, Discord Bots, Disboard, Top.gg">
    <meta property="twitter:card" content="https://www.dinglevalley.net/imgs/panda.png">
    <meta property="twitter:site" content="@@DingleValleyApp">
    <meta property="twitter:site:id" content="">
    <meta property="twitter:creator" content="@@DingleValleyApp">
    <meta property="twitter:creator:id" content="">
    <meta property="og:locale" content="en-US">
    <link rel="icon" href="~/favicon.ico">
    <meta data-react-helmet="true" charset="utf-8">
    <meta data-react-helmet="true" property="og:title" content="Dingle Valley | Find Public Discord Servers And Much More!">
    <meta data-react-helmet="true" property="og:description" content="Dingle valley is the easiest way to get more users to, join your discord servers, subscribe to your twitch or youtube channels, join your game servers and more.">
    <meta data-react-helmet="true" name="description" content="Dingle valley is the easiest way to get more users to, join your discord servers, subscribe to your twitch or youtube channels, join your game servers and more.">
    <meta data-react-helmet="true" property="og:image" content="https://www.dinglevalley.net/imgs/panda.png">
    <meta data-react-helmet="true" property="twitter:image" content="https://www.dinglevalley.net/imgs/panda.png">
</head>
<body style="background-color: #333333;">
    @RenderBody()

    <script async src="/_content/Microsoft.AspNetCore.Components.WebAssembly.Authentication/AuthenticationService.js"></script>
    <script async src="/_framework/blazor.webassembly.js"></script>
    <persist-component-state />
</body>
</html>
